<div class="form-container">
  <h1>Update Information</h1>
  <hr />
  <%= form_with(model: @profile, local: true, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true, autofocus: true, placeholder: "First Name" %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>
    </div>
    <div class="field">
      <%= f.label "Date of Birth" %>
      <%= f.date_field :dob, required: true, placeholder: "D.O.B." %>
    </div>
    <div class="field">
      <%= f.label :sex %>
      <%= f.select :sex, ["Male", "Female"], required: true%>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.phone_field :phone, required: true, placeholder: "Phone"%>
    </div>
    <div class="field">
      <%= f.label :street %>
      <%= f.text_field :street, required: true, placeholder: "Street"%>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, required: true, placeholder: "City"%>
    </div>

    <div class="field">
      <%= f.label :language %>
      <%= f.select :language, ["English", "Chinese", "Spanish", "French", "Arabic", "Japanese", "Other" ],required: true, placeholder: "Preferred Language" %>
    </div>
    <%= f.submit 'Update', class: "ui purple button inverted" %>
  <% end %>
</div>
