<h1>Edit Note For <%= @profile.full_name %></h1>
<%= form_with(model: [@profile, @note], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message, required: true, placeholder: "Message", rows: 10%>
  </div>
  <%= f.submit nil, class: "ui blue button" %>
<% end %>