<h1>New Appointment</h1>
<%= form_with(model: [@pet, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :Owner%>
  <%= f.select :profile_id, current_user.profiles.all.decorate.collect { |p| [p.full_name, p.id]} %>
  <br />
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br />
  <%= f.label :time %>
  <%= f.time_field :time %>
  <br />
  <br />
  <%= f.submit nil, class: "ui purple button inverted" %>
  <%= flash[:errors].join(',') if flash[:errors] %>
<% end %>
