<!DOCTYPE html>
<html>

  <head>
    <title>Pets Healthcare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon-heartbeat.ico'), :rel => 'icon', :type =>  'image/ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <! --This gives the browser instructions on how to control the page's dimensions and scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div>
      <<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    </div>
    <div class="ui container body-container">

      <%= yield %>
    </div>
  </body>
</html>
